body {
    margin: 0;
    font-family: sans-serif;
}

div,
body {
    box-sizing: border-box;
}

.flexbox {
    display: flex;
    flex-flow: row wrap;
    border: 2px solid #000;
    margin: 20px;
    justify-content: space-evenly;
    align-content: space-around;
    height: 360px;
}



.flex-item {
    background-color: #800;
    margin: 10px;
    color: #fff;
    font-size: 40px;
    text-align: center;
    width: 100px;
}

.flex-item:first-child {
    background-color: #f77;
}

.flex-item:last-child {
    background-color: #000;
}