body {
    margin: 0;
    font-family: sans-serif;
    position: relative;
}

.overlay {
    background: linear-gradient(to top, #fff, transparent);
    position: absolute;
    z-index: 20;
    width: 100%;
    bottom: 0;
    height: 100%;
}

.box-fixed {
    height: 60px;
    width: 200px;
    background-color: #f00;
    position: sticky;
    top: 100px;
    z-index: 40;
}

.first {
    top: 30px;
}

.last {
    top: 170px;
}

.box {
    height: 60px;
    width: 200px;
    background-color: #f00;
    position: fixed;
    right: 0;
    background-color: #fff;
    border-right: 0;
    box-shadow: 0 0 40px #000;;
    z-index: 21;
}

.contenedor {
    padding: 150px;
    background-color: #00f;
    position: relative;
}

h2 {
    font-size: 18px;
    margin: 0;
}

p {
    font-size: 14px;
    margin: 0;
}