body {
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
}

 .box {
    width: 120px;
    height: 120px;
    background-color: #f00;
    margin-top: 50px;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    transition-property: left;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0,.69,1,.36);
    color: red;
    position: relative;
    left: 0;

    transition: left 1s cubic-bezier(0,.69,1,.36);
}

body:hover .box {
    left: 400px;
}