body {
    margin: 0;
    font-family: sans-serif;
    background-color: #ccc;
}

.box {
    width: 150px;
    background-color: #f00;
    margin: auto;
    margin-top: 50px;
    border: 5px solid #000;
    
    /* outline-width: 10px;
    outline-color: #00f;
    outline-style: solid; */

    /* outline-offset: 10px; */
    outline: 10px solid #00f;

}

.box:hover {
outline: 5px solid #00f;
}

input {
    margin: 50px;
    border: none;
    border-top: 3px solid #000;
    padding: 6px;
}

input:focus {
    border-color: blue;
    color: blue;
}

input:focus-visible {
    outline: none;
}