body {
margin: 0;
font-family: sans-serif;
}

.flexbox {
display: flex;
height: 100vh;

/* flex-direction: row;
flex-wrap: wrap; */

flex-flow: row wrap;
}

.flex-item {
background-color:#800;
margin: 10px;
color: #fff;
font-size: 40px;
text-align: center;
width: 180px;
}