@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  height: 100vh;
  background: radial-gradient(circle, #1a0033, #000000);
  font-family: 'Press Start 2P', cursive;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Efecto scanlines CRT */
body::after {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  pointer-events: none;
  background: repeating-linear-gradient(
    to bottom,
    rgba(255,255,255,0.03) 0px,
    rgba(255,255,255,0.03) 2px,
    transparent 2px,
    transparent 4px
  );
}

.container {
  width: 350px;
  padding: 30px;
  border: 3px solid #ff00ff;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 15px #ff00ff;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #ff88ff;
  text-shadow: 0 0 8px #ff00ff;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.tab {
  background: transparent;
  border: 2px solid #00ffff;
  color: #00ffff;
  padding: 8px 10px;
  cursor: pointer;
  font-size: 10px;
  transition: 0.2s;
}

.tab.active {
  background: #00ffff;
  color: #000;
}

.form {
  display: none;
  flex-direction: column;
}

.form.active {
  display: flex;
}

input {
  margin: 10px 0;
  padding: 10px;
  background: #000;
  border: 2px solid #ff00ff;
  color: #fff;
  font-size: 12px;
}

.btn {
  margin-top: 10px;
  padding: 12px;
  background: #ff00ff;
  color: #000;
  border: none;
  cursor: pointer;
  font-size: 12px;
  transition: 0.2s;
}

.btn:hover {
  background: #ff44ff;
  box-shadow: 0 0 10px #ff00ff;
}

.back-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 18px;
  background: #00ffff;
  color: #000;
  border: 2px solid #00ffff;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 10px #00ffff;
  transition: 0.2s;
}

.back-btn:hover {
  background: #55ffff;
  box-shadow: 0 0 16px #00ffff;
  transform: scale(1.05);
}
