* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, rgb(11, 238, 219), rgb(52, 152, 199));
    padding: 20px;
}

header {
    padding-bottom: 0px;
    text-align: center;
    color: white;
    font-size: 24px;
    margin: 0px;
}

h1 {
    margin-top: 100px;
    text-decoration: underline;
}

form {
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    max-height: 500px;
}

input, textarea, button{
    width: 90%;
    border: 1px solid #02ff4e;
    border-radius: 5px;
    padding: 20px 20px 20px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: sans-serif;
}

label {
    font-weight: bold;
    color: #333;
}

button {
    margin-top: 20px;
}